#tPrincipal {
  color: rgb(255, 255, 255);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  border: solid 5px black;
  width: auto;
  padding: 10 px;
  margin-bottom: 15 px;
  background-color: lightcoral;
  text-align: center;
}
h2,
h3,
table {
  color: darkgreen;
  div {
    border-style: solid;
  }
  font-family: "Gil Sans MT", "Gill Sans", Calibri, "Trebuchet MS", sans-serif;
  font-size: 23px;
  background-color: rgb(66, 76, 227);
  margin-top: 10px;
  margin-bottom: 15px;
}

.margindiv {
  margin-top: 20px;
}

table,
th,
tr {
  border: 1px solid black;
  border-collapse: collapse;
}

ul {
  color: crimson;
}

ol li {
  color: rgb(211, 211, 221);
}

table {
  background-color: lightgrey;
  color: rgb(143, 96, 15);
  width: 2rem;
  height: 10rem;
}

#seção {
  background-color: darksalmon;
  padding: 0.6rem;
  width: 6rem;
  text-align: center;
}

html {
  background-color: rgb(255, 233, 224);
}
